*{
  margin: 0;
}
body{
  /* position: relative; */
  display: block;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-clr);

}
.dark-theme {
  --main-heading: rgb(160, 184, 252);
  --list-color: rgb(196, 197, 199);
  --list-heading-color:blueviolate;
  --bg-clr: #050d1a;
  --input-border-bottom : 2px solid darkgrey;
  --input-bg :rgb(51, 53, 53);
  --nav-header:rgb(51, 53, 53);
  --card-border: 1px solid grey;
}
.light-theme{
  --nav-header: rgb(7, 76, 226);
  --main-heading: black;
  --list-color: black;
  --list-heading-color:black;
  --bg-clr: white;
}

.navbar{
  position: absolute;
  height: 75px;
  width: 100%;
  background-color: var(--nav-header);
  top: 0;
}

.App {
  /* position: absolute; */
  margin-left: 40px;
  margin-top: 20px;
}
.contentstyle {
  position: relative;
  margin-top: 6em;
  /* margin-left: 3.5em; */
}
.maincontent{
  display: flex;
  justify-content: space-evenly;

}
.Resumeform{
  display: inline-block;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* border: 1px solid red; */
  padding: 2em;
  border-radius: 12px;
}

@media  only screen and (max-width:768px) {
  .maincontent{
    align-items: center;
    flex-direction: column-reverse;
  }
}
.experienceblock{
  margin-right:35px
}
.Resumebuilder{
  /* border: 1px solid grey; */
  display: inline-block;
  align-items: center;
  padding: 2em;
  position: relative;
}
.adresscss{
  font-size: 0.9em;
  margin-bottom: 7px;
  color:var(--list-color) ;
}
/* .sociallinks{
  font-size: 0.9em;
  margin-bottom: 7px;
  float: right;
} */

.themecss {
  position: absolute;
  /* background-color: rgb(13, 85, 240) */
  
  right: 1.2em;
  top: 17px;
}

.themebutton{
  display: inline-block;
  padding: 8px;
  font-size: 1em;
  background: thistle;
  border: none;
  border-radius: 12px;
  color: white;
  transition-duration: 0.4s;
  z-index: 2;
}
.themebutton:hover{
color:white;
background-color: grey;
cursor: pointer;
}

input{
  margin-bottom: 14px;
    display: inline-block;
    height: 27px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 12px;
    padding-left: 9px
}
li{
  line-height: 1.5rem;
}

.resumeHeading{
  display: grid;
  margin: 6px;
  padding-bottom: 10px;
  color: var( --main-heading);
}

.listHeading{
  color: var( --list-color);
}
.cardbg{
  background-color: var(--bg-clr);
  border: var(--card-border);
  border-radius: 5px;

}

.textFieldlabel{
  color:var(--list-color) ;
}
 
#filled-search{
  background-color: var(--input-bg);
  color: white;
  border-bottom: var(--input-border-bottom);
}

 #filled-search-label{
  color: var(--list-color);
}









  /* .imgstyle {
    margin: 50px;
    display: inline-block;
    width: 300px;
    height: 300px;
    transform:scale(1, 1);
    transition: 1s;
  }

    .imgstyle:hover {
        transform:scale(1.2, 1.2);
    } */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
